body {
    /* margin: 100px; */
    background: gray;
}

.input-container {
    /* border: solid red; */
    /* background:purple; */
    margin: 100px;
    position: relative;
}

input {
    height: 45px;
    width: 300px;
    padding-left: 45px;
    border: solid black;
}

svg {
    position: absolute;
    left: 10px;   
    top: calc(50% - 12px);
}

